.search-panel {
    margin-top: 30px;
    padding: 25px;
    background-color: #45803d;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0.15);
    color: rgb(247, 217, 83);
}

@media (max-width:500px) {
    .btn-group {
        flex-direction: column;
        width: 100%;
    }

    .search-panel input::placeholder{
        text-align: center;
    }
}